
{% extends 'index.html' %}

{% block selector %}

  Hotels: <select>{% for hotel in hotels %}

                        <option>{{hotel.name}}</option>

          </select>

{% endforloop %}

Restaurants: <select>{% for restaurant in restaurants %}

                      <option>{{restaurant.name}}</option>

        </select>

{% endforloop %}

Activities: <select>{% for activity in activites %}

                      <option>{{activity.name}}</option>

        </select>

{% endforloop %}

{% endblock %}
