body {
	div {
		.col {
			&-md {
				&-4 {
					#options {
						row {
							padding-top: 20px;
							padding-bottom: 20px;
						}
						.dropdown-toggle {
							width: 100%;
						}
					}
				}
			}
		}
	}
}