$primary-color: 'e7ddff';
$secondary-color: '9666ff';
$accent-color: 'faed26';
$light-transparent: 0.5;
$transparent: 0;

.transparent {
	opacity: $transparent;
	&-light {
		opacity: $light-transparent;
	}
}

nav {
	@extend .transparent;
}

body {
	.col {
		&-md {
			&-4 {
				#options {
					row {
						padding-top: 20px;
						padding-bottom: 20px;
					}
					.dropdown-toggle {
						width: 100%;
					}
				}
			}
		}
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}